p {
    font-weight: 300;
    margin: 10px 0 ;
}

h1 {
    font-size: 47px;
    height: 100%;
    width: 100%;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

.curriculo {
    display: block;
    margin-top: 70px;
}

.curriculo__categorias {
    margin-top: 50px;
}

.categoria {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    margin: 60px 0 50px 0;
}

.categoria__titulo {
    width: 30%;
    font-size: 20px;
}

.descricao {
    width: 50%;
}

.categoria__lista_curso {
    width: 56%;
}

.data__curso{
    display: flex;
    align-items: start;
}
.categoria__item, .categoria__item_curso {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    column-gap: 30px;
}

.categoria__curso {
    display: flex;
    flex-wrap: nowrap;
    margin: 60px 0 50px 0;
}

.categoria__skill {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    column-gap: 100px;
}

.lista__skill {
    padding: 0;
    overflow: hidden;
}


.skill__item {
    padding: 3px 0;
}

.download {
    margin-bottom: 20px;
}

@media screen and (max-width:720px) {
    .categorias, .categoria,
    .categoria__item, .curriculo{
        display: block;
    }
    
    .categorias {
        margin: auto;
        text-align: center;
    }

    .categoria__titulo {
        margin-bottom: 15px;
    }

    .categoria__item {
        text-align: justify;
    }

    .categoria__item h3 {
        margin-top: 40px;
        text-align: start;
        margin: 0;
    }

    .curriculo {
        margin: auto;
        text-align: center;
    }

    .data {
        margin: 5px 0
    }

    .descricao {
        width: auto;
        margin-bottom: 30px;
    }

    
    .categoria__curso, .categoria__item_curso{
        display: block;
        text-align: start;
    }

    .categoria__skill {
        display: block;
        text-align: justify;
        width: 100%;
    }
}
