/* Principal */

p {
    text-align: justify;
    line-height: 1.4;
}

.perfil__sub_titulo h3{
    margin-bottom: 20px;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

.section__principal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
    /* column-gap: 4rem; */
}

.perfil__texto {
    margin-left: 50px;
}

.perfil__titulo h1{
    margin: 0;
    margin-left: -5px;
    font-size: 50px;
}

.foto__principal {
    width: 35%;
}

@media screen and (max-width:720px) {
    .perfil__titulo {
        margin-bottom: 10px;
    }
    
    .perfil__titulo h1 {
        line-height: normal;
        text-align: start;
    }
    .section__principal {
        margin: auto;
        display: block;
        text-align: center;
    }
    
    .foto__principal {
        width: 70%;
    }

    .perfil__texto {
        margin: auto;
        display: block;
        text-align: center;
    }

    .perfil__sub_titulo h3 {
        text-align: start;
    }
}